:root {
  --color-bg-light: #ffffff;
  --color-bg-alt: #e2eafc;
  --color-accent-light: #d7e3fc;
  --color-accent: #ccdbfd;
  --color-accent-dark: #8aadff;
  --color-primary: #b6ccfe;
  --color-primary-dark: #abc4ff;
  --color-border: #ccd6f6;
  --color-shadow: rgba(0,0,0,0.8);
  /* text */
  --color-text-main: #1e1e2f;
  --color-text-light: #4a4a6a;
  --color-heading: #0a0a23;
  /* fonts */
  --font-heading: 'Caveat Brush', cursive !important;
  --font-body: 'Playfair Display', serif !important;
}

body {
    min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-body);
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

 main{
    min-height: 100%;
    background-image: linear-gradient( var(--color-primary-dark), var(--color-accent));
    border-radius: 8px;
    padding: 10px;
 }


.notification{
    border: 2px solid var(--color-border);
    border-radius: 8px ;
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
    padding: 10px 18px;
}